<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask Task</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    
  </head>
  <body>
        <div class="container">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
        <div>
        <h2 class="text-left">Welcome to Death Game!</h2>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
  </body>
</html>
